* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
.content {
  max-width: calc(100% - 270px);
  width: 1170px;
  margin: 0 auto;
}
.btn-css-hover:hover {
  opacity: 0.5;
}
a {
  text-decoration: none;
}
/* commit */
.btn-local {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-local .btn-1,
.btn-local .btn-2 {
  cursor: pointer;
  margin-right: 18px;
  color: #575f66;
  width: 36px;
  height: 36px;
  border: 1px solid #575f66;
  border-radius: 50%;
  background-color: #fff;
}
.btn-local .btn-1 > svg,
.btn-local .btn-2 > svg {
  transform: translateY(25%);
}
.btn-local .btn-hover:hover {
  border: none;
  background-color: #2e80ce;
  color: #ffffff;
}
/* Header */
.header {
  background: #10375c;
  padding-top: 60px;
  padding-bottom: 30px;
}
.header.fixed {
  position: sticky;
  z-index: 9;
  top: -30px;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-container nav ul {
  display: flex;
}
nav ul li > a {
  display: inline-block;
  margin-right: 42px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
}
nav ul li:hover > a {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
}
nav ul li:first-of-type > a {
  position: relative;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
nav ul li:first-of-type > a::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: -8px;
  top: 11px;
  background: #ffffff;
}
nav ul li:last-of-type > a {
  margin-right: 0;
}
.header-container .action a:first-of-type {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
}
.header-container .action .btn {
  background: #2e80ce;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  border-radius: 22px;
  padding: 8px 20px;
  margin-left: 28px;
}
/* hero */
.hero {
  background: #10375c;
  padding-top: 46px;
  padding-bottom: 110px;
}
.hero-container {
  display: flex;
}
.hero-container .hero-left {
  margin-top: 60px;
  margin-right: 113px;
}
.hero-left {
  width: 44%;
}
.hero-right {
  flex: 1;
}
.hero-left h1 {
  width: 517px;
  height: 240px;
  margin-bottom: 22px;
  color: #ffffff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -0.02em;
}
.hero-left p {
  width: 468px;
  height: 60px;
  margin-bottom: 38px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
}
.hero-left .hero-action {
  display: flex;
}
.hero-left .hero-action .btn {
  margin-right: 38px;
  padding: 15px 46px;
  border-radius: 30px;
  background: #2e80ce;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.hero-action span {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.hero-right .img-list {
  display: flex;
}
.img-list .img-item > img {
  margin-top: 65px;
  width: 210px;
  height: 410px;
  object-fit: cover;
  border-radius: 0px 6px 6px 0px;
}
.img-list .img-item:first-of-type > img {
  margin-top: 0;
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}
/* service */
.service {
  padding-top: 170px;
  background-color: #fff;
  padding-bottom: 170px;
}
.title-service {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 18px;
}
.decs-service {
  margin: 0 auto 70px auto;
  width: 468px;
  height: 60px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.service-container {
  display: flex;
}
.service-container .img-block > img {
  width: 570px;
  height: 570px;
  margin-right: 130px;
  border-radius: 12px;
  object-fit: cover;
}
.service-list {
  margin-top: 80px;
}
.service-list .service-item {
  display: flex;
  align-items: center;
  padding: 21px 61px 20px 22px;
  cursor: pointer;
  animation: 0.4s;
}
.service-list .service-item:hover {
  background: #ffffff;
  box-shadow: 0px 14px 28px 0px #0000000d;
}
.service-list .service-item:hover .service-img-on {
  opacity: 1;
  z-index: 2;
}

.service-info > h3 {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 8px;
}
.service-info > p {
  width: 351px;
  height: 56px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.service-img {
  position: relative;
  z-index: 1;
}
.service-img .service-img-on {
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 1px;
  left: 0px;
}
/* Works */
.works {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f6fbff;
}
.title-works {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 18px;
}
.decs-works {
  width: 468px;
  height: 60px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 86px;
}
.works-container .works-list {
  display: flex;
  justify-content: space-between;
}
.works-list .works-item {
  padding: 43px 42px;
  background-color: #fff;
  border: #eaf6ff 16px solid;
  cursor: pointer;
  transition: 0.25s;
}
.works-list .works-item:hover {
  transform: translateY(-10%);
  border: #2e80ce 16px solid;
}
.works-list .works-item:hover a {
  color: #2e80ce;
}
.works-list .works-item .img-works {
  margin-bottom: 18px;
}
.works-list .works-item h3 {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 28px;
}
.works-list .works-item p {
  width: 254px;
  height: 84px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 18px;
}
.works-list .works-item a {
  display: inline-block;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
/* Shine */
.shine {
  padding-top: 170px;
  background-color: #fff;
}
.shine-container {
  display: flex;
}
.shine-img-block {
  display: flex;
}
.shine-img-block,
.shine-info {
  flex: 1;
}
.shine-img-block .img-shine-main .img-shine-frist {
  width: 512px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}
.shine-img-block .img-shine-main {
  position: relative;
}
.shine-img-block .img-shine-main .img-shine-second {
  position: absolute;
  width: 332px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
  top: 121px;
  transform: translateX(-75%);
}
.shine-info {
  margin-top: 82px;
  margin-left: 190px;
}
.shine-info h2 {
  width: 470px;
  height: 120px;
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 18px;
}
.shine-info p {
  width: 468px;
  height: 90px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 38px;
}
.shine-info .action .btn {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  padding: 15px 51px;
  background-color: #2e80ce;
  border-radius: 30px;
}
/* dentist */
.dentist {
  margin-top: 291px;
  margin-bottom: 265px;
}
.title-dentist {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 38px;
}
.action-dentist {
  display: flex;
  justify-content: center;
}
.action-dentist .btn {
  display: inline-block;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  padding: 15px 27px;
  background: #2e80ce;
  border-radius: 30px;
  margin-bottom: 70px;
}
.dentist-container .dentist-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}
.dentist-item .dentist-img {
  background: #eaf6ff;
  padding: 28px 4px 0px 4px;
  margin-bottom: 12px;
  border-radius: 6px;
 
}
.dentist-item:hover .dentist-img > img {
  transform: scale(1.1);
}
.dentist-item .dentist-img > img {
  width: 253px;
  height: 290px;
  object-fit: cover;
  transition: 0.25s;
}
.dentist-container .dentist-list .dentist-item > h3 {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
.dentist-container .dentist-list .dentist-item > p {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}
/* Media */
.media {
  background: #2e80ce;
  height: 427px;
}
.media-container {
  display: flex;
}

.media-container .media-img > img {
  margin-top: -95px;
}
.media-container .media-info {
  margin-top: 76px;
  margin-left: 160px;
}
.media-container .media-info > h2 {
  color: #ffffff;
  width: 489px;
  height: 120px;
  font-size: 5rem;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 18px;
}
.media-container .media-info > p {
  width: 586px;
  height: 60px;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 38px;
}
.media-container .search-app-media {
  display: flex;
}
.search-app-media img:first-of-type {
  margin-right: 28px;
}
/* event */
.event {
  margin-top: 170px;
  margin-bottom: 191px;
}
.event .event-container {
  display: flex;
  justify-content: space-between;
}
.event-info {
}
.event-info > h2 {
  width: 470px;
  height: 120px;
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 28px;
}
.event-info > a {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #10375c;
  text-decoration: underline;
  margin-bottom: 28px;
}
.event .event-container .event-list {
  display: grid;
  grid-template-columns: repeat(2, 270px);
  gap: 30px;
}
.event-list .event-item {
  cursor: pointer;
  border-radius: 12px;
  background-color: #f8f8f8;
  border: 1px solid #e8ebee;
}
.event-list .event-item:hover {
  background: #ffffff;
  box-shadow: 0px 18px 50px 0px #0000000d;
}
.event-list .event-item:hover .event-info-item > a {
  color: #2e80ce;
}
.event-list .event-item .event-img-block > img {
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
}
.event-list .event-item .event-info-item {
  padding: 21px 22px;
  margin-top: -4px;
}
.event-item .event-info-item > h3 {
  width: 224px;
  height: 52px;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}

.event-item .event-info-item > p {
  width: 226px;
  height: 72px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 12px;
}
.event-item .event-info-item > a {
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.btn-local.justify-content-none {
  display: flex;
  justify-content: start;
}
/* patients */
.patients {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #f6fbff;
}
.patients-container > h2 {
  position: relative;
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 38px;
}
.patients-container > h2::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 136px;
  height: 2px;
  background: #2e80ce;
  bottom: -18px;
  right: 517px;
  left: 517px;
}
.patients-container > p {
  width: 617px;
  height: 56px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 38px;
}
.action-patients {
  display: flex;
  justify-content: center;
}
.action-patients > a {
  padding: 15px 40px;
  background-color: #2e80ce;
  border-radius: 30px;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.action-patients > a:hover {
  opacity: 0.6;
}
/* footer */
.footer {
  padding-top: 100px;
  padding-bottom: 42px;
  background: #10375c;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-container .logo-footer-block .logo-footer {
  margin-bottom: 21px;
}
.footer-container .logo-footer-block p {
  width: 336px;
  height: 56px;
  color: #a9b3bb;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-item .item-child {
  margin-bottom: 18px;
}
.footer-item .item-child > span {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}
.item-child ul li > a {
  display: inline-block;
  color: #a9b3bb;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}
.title-media {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}
.footer-img-media {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  width: 116px;
}
.title-describe {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}
.footer-media span {
  display: inline-block;
  width: 273px;
  height: 52px;
  margin-bottom: 10px;
  color: #a9b3bb;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-media .footer-action input {
  width: 212px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #406181;
  background-color: #10375c;
  padding: 10px;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  background-color: #10375c;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 1; /* Firefox */
}
.footer-action > button {
  padding: 10px 21px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #2e80ce;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 12px;
}
/* ------------- */
.footer-container {
  position: relative;
}
.footer-container::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 1170px;
  height: 1px;
  background-color: #406181;
  bottom: 0;
}
.copy-right {
  padding-top: 28px;
  text-align: center;
  color: #aab3ba;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}
